<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="progress m-t-30">
          <div class="progress-bar bg-primary progress-bar-striped active" 
            style="height:6px;"
            role="progressbar"
            [style.width]="getProgreso1"
            >
            <span class="sr-only">60% Complete</span>
          </div>
        </div>

        <div class="progress m-t-30">
          <div class="progress-bar bg-info progress-bar-striped active" 
            style="height:6px;"
            role="progressbar"
            [style.width]="getProgreso2"
            >
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador  (valorSalida)="progreso1=$event" [valor]="progreso1"></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador [classbtn]="'btn-info'" (valorSalida)="progreso2=$event" [valor]="progreso2"></app-incrementador>
      </div>
    </div>
  </div>
</div>